<div class="row">
  <div class="col-md-12">
    <div style="margin-left:0%">
<h1>Assignments </h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Due</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= assignment.title %></td>
        <td><%= assignment.due.strftime("%B %d at %I:%M %p") %></td>
        <td><%= link_to 'Show', assignment %></td>
        <% if current_user.admin? %>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% if current_user.admin? %>
<%= link_to 'New Assignment', new_assignment_path %>
<% end %>
</div>
</div>
</div>

<br>


