<%= form_for(@real_name) do |f| %>
<% if @real_name.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@real_name.errors.count, "error") %> prohibited this real_name from being saved:</h2>

  <ul>
    <% @real_name.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= f.hidden_field :real, value: true%>
<%= f.hidden_field :user_id, value: current_user.id%>

<div class="actions">
  <%= f.submit "Switch", class: "btn btn-large", data: { confirm: 'Are you sure you want to use your real name?' }%>
</div>
<% end %>
