<h1>Project Version History</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Index</th>
      <th>Edited</th>
      <th>Author</th>
      <th>Event</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @project.versions.reverse_order.each do |version| %>
      <tr>
        <td><%= version.index %></td>
        <td><%= time_ago_in_words(version.created_at) %> ago</td>
        <td><%= User.find(version.whodunnit).name %></td>
        <td><%= version.event.humanize %></td>
        <td><%= link_to 'Diff', diff_project_version_path(@project, version) %></td>
<td><%= link_to 'Rollback', rollback_project_version_path(@project, version), method: 'PATCH' %></td>
      </tr>
    <% end %>
  </tbody>
</table>




<%= button_to 'Back to Edit', edit_project_path(@project), :method => :get %>

