<% if current_user.admin? %>
<h1>Projects</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Users</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><% project.users.each do |user| %>
            <%= user.name %><br>
            <% end %></td>
        <td><%= link_to 'Show', project %>&nbsp
        <%= link_to 'Edit', edit_project_path(project) %>&nbsp
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>

<% elsif @project.nil? %>
<h1>My Project</h1>
<h3>You know you haven't started your project, yet.</h3>

<% else controller.redirect_to edit_project_path(@project.id) %>

<% end %>

