# app/views/versions/diff.html.erb
<div class='row mt'>
  <div class='col-sm-12'>
    <h2><%= "Diff between Version #{@version.id} and Current Version" %></h2>
    <style><%= Diffy::CSS %></style>
    <div class='well diff'>
      <p>
        <strong>Name:</strong>
        
      </p>
      <p>
        <strong>Content:</strong>
        <%= diff(strip_tags(@version.reify.content), strip_tags(@project.content)) %>
      </p>
    </div>
    <p>
    By: <%= User.find(@version.whodunnit).name %>
    </p>
  </div>
</div>
<div class='fr'>
  <%= link_to "Back to History", { :controller => :projects, :action => :history, :id => @project.id}, class: 'btn btn-default' %>
  <%= link_to 'Rollback', rollback_project_version_path(@project, @version), class: 'btn btn-default', method: 'PATCH'%>
</div>